/node_modules
/oh_modules
**/oh_modules
/.ohpm
/local.properties
/build-profile.json5
/.idea
/outputs
/.DS_Store
*.log
**/build
/common/BuildProfile.ets
/.hvigor
/.hvigor-local
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
